#logo-pic {
    width: 55px;
    height: 35px;
    animation-name: flip-logo-pic;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes flip-logo-pic {
    from { 
        transform: rotateY(360deg)
    }
}

#back_btn {
    float: left;
}

#buttumNavBar ul li a:hover {
    color: #696969;
}

#buttumNavBar ul li a {
    color: #909090;
}

#password_recovery_btn {
    width: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
}

#register_link {
    float: right;
}

#drop-down-ico {
    color: #fff;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display: none;
}

.content-page-load{
     animation: fade 1.3s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[class*="col-"] {
    padding: 1rem;
}