#logo-pic {
    width: 55px;
    height: 35px;
    animation-name: flip-logo-pic;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes flip-logo-pic {
    from { 
        transform: rotateY(360deg)
    }
}

#back_btn {
    float: left;
}

#buttumNavBar ul li a:hover {
    color: #696969;
}

#buttumNavBar ul li a {
    color: #909090;
}

#password_recovery_btn {
    width: 100%;
}

#btnGoTop {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    right: 30px;
    bottom: 80px;
    z-index: 99;
}

#btnGoTop:active {
    background-color: #C0C0C0;
}

body {
    overflow-x: hidden;
    margin: 0;
}

#register_link {
    float: right;
}

#drop-down-ico {
    color: #fff;
}

.content-page-load-fadein{
    animation: fadein 0.5s ease-in-out;
}

.content-page-load-fadeout{
    animation: fadeout 0.5s ease-in-out;
}

@keyframes fadein {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width: 336px) {
    .test {
        font-size: 5vw;
    }
}

[class*="col-"] {
    padding: 1rem;
}